.textoLogo {
  font-size: 2rem;
}

/* Sobrescrituras de Boostrap */
.navbar-nav .nav-link.active {
  color: #005eb4;
}

.dropdown-item{
  color: rgba(0, 0, 0, 0.55);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #005eb4;
}

.navbar {
  box-shadow: 0px +4px 5px #e5e5e5;
  background-color: #fff;
}
