* {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 40px auto 90px;
  grid-template-columns: auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

img {
  max-width: 100%;
  height: auto;
}

.img-logo {
  border-radius: 150%;
  width: 30px;
  height: 30px;
}

.calesita {
  margin-top: 40px;
}

.calesita img {
  height: 450px;
}

.card {
  box-shadow: 0px 0px 5px #e5e5e5;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.08);
  z-index: 1;
}
.tarjeta {
  padding: 10px;
}

.tarjetas {
  margin-top: 50px;
}

.tarjetas img {
  height: 100%;
}

.tarjetas p,
.tarjetas small {
  font-size: 1.25rem;
}

.tarjetas h2 {
  font-weight: 600;
}


/* MOBILE-VERSION */
@media (max-width: 576px) {
  .card:hover {
    transform: scale(1.02);
  }

  .tarjetas {
    margin-top: 20px;
  }
}

