.textoLogo {
  font-size: 2rem;
}

/* Sobrescrituras de Boostrap */
.navbar-nav .nav-link.active {
  color: $primary-color;
}

.dropdown-item {
  color: rgba(0, 0, 0, 0.55);

  &.active,
  &:active {
    background-color: $bgc-theme-light;
    color: $primary-color;
  }
}

// .dropdown-item.active,
// .dropdown-item:active {
//   background-color: #fff;
//   color: #005eb4;
//   /* background-color: #005eb4; */
// }

.navbar {
  box-shadow: 0px +4px 5px #e5e5e5;
  background-color: $bgc-theme-light;
}

/* TABLET-VERSION */
@media (max-width: 991px) {
  .dropdown-menu {
    border: NONE;
  }
}
